h2 {
color: red; 
font-family: Times new roman; 
}

h3 {
color: red; 
font-family: Times new roman; 
}

header {
color: red; 
font-family: Times new roman; 
} 

body {
background-color: black;
}